.container{box-sizing: border-box; display: flex; justify-content: center; background-color: black;
width: 50%; height: 80%; flex-flow: row nowrap; border-radius: 100%; align-items: center;
flex-direction: column; align-content: center; box-sizing: border-box;}
body{ box-sizing: border-box; background: bisque; display: flex; flex-flow: column nowrap; 
    text-align: center; justify-content: space-between; align-items: center;}
.row{ box-sizing: border-box;
    display: flex; width: 80%; height: 80%; flex-flow: row nowrap; align-items: center; 
    justify-content: space-between;
}
.row-item{
    justify-content: space-evenly;
}
.blueOff{background-color: rgb(0, 0, 127); border-bottom-right-radius: 100%
}
.yellowOff{background-color: rgb(180, 180, 0); border-bottom-left-radius: 100%
}
.greenOff{
background-color: rgb(0, 127, 0);  border-top-left-radius: 100%
}
.redOff{background-color: rgb(127, 0, 0);  border-top-right-radius: 100%
}
.colorSimon{
    box-sizing: border-box; width: 45%; height: 80%; 
}
.blueOn{
    background-color: rgb(0, 170, 255);border-bottom-right-radius: 100%
}

.yellowOn{
    background-color: rgb(255, 255, 0);border-bottom-left-radius: 100%
}

.greenOn{
    background-color: hsl(120, 100%, 66%); border-top-left-radius: 100%
}

.redOn{
    background-color: rgb(255, 0, 0); border-top-right-radius: 100%
}

.control{box-sizing: border-box; 
    background-color: rgb(247, 247, 253); width: 25%; height: 25%; border-radius: 100%;
    position: absolute; display: flex; justify-content: space-evenly; flex-flow: column nowrap; 
    align-items: center;
    border: 1em solid black
    }

#score{
    width: 4em;
    background-color: black;
    color: greenyellow;
    text-align: center

}

#title-game{
    letter-spacing: 0.5em
}